# Importing packages

In [3]:

import tensorflow as tf
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from tensorflow.keras import layers
import shutil
import random
from PIL import Image
import numpy as np
import logging
from tensorflow.python.client import device_lib
import tensorflow as tf
from tensorflow.keras.preprocessing.image import ImageDataGenerator
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from tensorflow.keras import layers
import tensorflow_hub as hub
import shutil
import random
from PIL import Image
import pickle
import shutil
from sklearn.datasets import load_boston
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso


import logging
logger = tf.get_logger()
logger.setLevel(logging.ERROR)
print(tf.__version__)

2.8.0

In [20]:
X = pd.read_csv("train_features.csv.zip")
Y = pd.read_csv("train_labels.csv.zip")

print(X.shape)
print(Y.shape)

X = X.sort_values(by='feature_0000',ascending=False)

# X["feature_0001"].mean()
Y

(100, 1002)
(100, 2)

       Id  homo_lumo_gap
0   50000       2.052872
1   50001       1.325530
2   50002       1.837294
3   50003       1.388601
4   50004       0.991851
..    ...            ...
95  50095       1.791795
96  50096       1.115060
97  50097       2.087200
98  50098       1.622947
99  50099       1.739702

[100 rows x 2 columns]

In [21]:
X = pd.read_csv("pretrain_features.csv.zip")
Y = pd.read_csv("pretrain_labels.csv.zip")

print(X.shape)
print(Y.shape)

X = X.sort_values(by='feature_0000',ascending=False)

# X["feature_0001"].mean()
Y

(50000, 1002)
(50000, 2)

          Id  lumo_energy
0          0    -3.111521
1          1    -3.219118
2          2    -3.114145
3          3    -3.161867
4          4    -3.687744
...      ...          ...
49995  49995    -3.531096
49996  49996    -3.726209
49997  49997    -2.701048
49998  49998    -3.516759
49999  49999    -3.410109

[50000 rows x 2 columns]